body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #218838;
    }

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

    li:last-child {
        border-bottom: none;
    }

.note-actions {
    margin-top: 10px;
}

.note-actions button {
    margin-right: 5px;
    background-color: #007bff;
}

.note-actions button.delete {
    background-color: #dc3545;
}

.note-actions button:hover {
    opacity: 0.8;
}

#showAllNotes {
    background-color: #007bff;
    margin-left: 10px; /* Добавяме малко разстояние между бутоните */
}

#showAllNotes:hover {
    background-color: #0056b3;
}